/* general style */
body {
    font-family: "PT Sans";
    background-color: #F5F1D0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans";
}

h1 {
    font-size: 30pt;
}

h2 {
    margin: 0.1em;
}

/* header */
#header {
    text-align: center;
}

#header img {
    width: 30px;
}

/* hero */
#hero {
    border: 1pt solid black;
    background-color: #FAF1A0;
    text-align: center;
}

#hero img {
    width: 300px;
    max-width: 100%;
}

/* bio */
#bio {
    text-align: center;
}

/* hobbies */
#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* gallery */
#gallery {
    border: 1pt solid black;
    margin-bottom: 2rem;
    background-color: #FAF1A0;
}

#gallery h2 {
    padding: 0.5rem;
    margin: 0px;
    text-align: center;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
}

/* literature */
#lit {
    text-align: left;
    border: 1pt solid red;
    margin-bottom: 2rem;
}

#lit h2{
    padding: 0.5rem;
}

#lit div {
    padding: 2rem;
    padding-top: 0rem;
    max-width: 40rem;
    margin: 0 auto;
}

/* dropcap */
#lit div p:first-child:first-letter {
    color: black;
    float: left;
    font-size: 3em;
    padding: 0.25em;
    margin-right: 0.10em;
    line-height: 0.65;
}

/* video */
#vid{
    text-align: center;
}

#vid h2 {
    margin-bottom: 1rem;
}

#myVideo {
    height: 400px;
    width: 400px;
    max-width: 100%;
}

/* bye */
#bye {
    text-align: center;
    margin-bottom: 2rem; 
}
/* footer */
#footer {
    border: 1pt solid black;
    background-color: #FAF1A0;
    text-align: center;
}

/* tablet size (960px wide) */

@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    figure img {
        width: 100%;
    }

    #lit div {
        max-width: 100%;
        columns: 40rem;
        text-align: left;
    }
}

/* large size (1600px wide) */

@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    hr {
        display: none;
    }
    
    figure {
        display: block;
    }

    figcaption {
        font-size: 1.3rem;
    }
}