body {
    font-family: "PT Sans";
    background-color: #F5F1D0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans";
}

h1 {
    font-size: 30pt;
}

h2 {
    margin-bottom: 0;
}

/* Header Section */

#header {
    text-align: center;
}

#header img {
    width: 30px;
}

/* Hero Section */
#hero, footer {
    border: 1pt solid black;
    background-color: #FAF1A0;
    text-align: center;
}

#hero img {
    width: 300px;
}

/* Bio Section */
#bio {
    text-align: center;
}

/* Hobby Section */
#hobbies {
    text-align: center;
}

/* center and align left */
ul { 
	display: inline-block;
    text-align: left;
	}

/* Gallery Section */

#gallery {
    border: 1pt solid black;
    margin-bottom: 2rem;
    background-color: #FAF1A0;
}

#gallery h2 {
    padding: 0.5rem;
    margin: 0;
    text-align: center;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
}

/* Literature Section */

#lit {
    text-align: center;
    border: 1pt solid red;
    margin-bottom: 2rem;
}

#lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}

/* Footer Section */

#footer {
    border: 1pt solid black;
    background-color: #FAF1A0;
    text-align: center;
}